<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Flashcard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
      <div class="nav-left">
        <img
          src="{{ url_for('static', filename='FC_image1.png') }}"
          alt="FC Learning Logo"
        />
        <h1>FC Learning</h1>
      </div>
      <div class="nav-right">
        <a href="/">Home</a>
        <a href="create_fc" class="active">Create Flashcard</a>
        <a href="select_set">Find Set</a>
      </div>
    </nav>
    <div class="main-container">
        <h1>Create Flashcard {{ flashcard_count }}</h1>
        <h3>Enter your question, answer, and hint (optional)</h3>
        <form method="post" action="{{ url_for('create_fc') }}" class="input-container">
            <input type="text" name="topic" placeholder="Enter Set Name" required>
            <input type="text" name="question" placeholder="Enter question" required>
            <input type="text" name="answer" placeholder="Enter answer" required>
            <input type="text" name="hint" placeholder="Enter hint">
            <button class="button" type="submit">Save</button>
        </form>
    </div>
</body>
</html>
